.container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 98vh;
    margin-top: 16px;
}
.image{
    width: 400px;
    height: 467px;
}
.startbutton{
    width: 200px;
    height: 60px;
    background: #27AE60;
    border-radius: 8px;
    color: #fff;
}
.alfaBet_desatived{
    flex-wrap: wrap;
    width: 40px;
    height: 40px;
    background: #9FAAB5;
    border: 1px solid #7AA7C7;
    border-radius: 3px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #798A9F;
    margin-top: 5px;
    margin-left: 15px;
    justify-content: center;
}
.alfaBet_atived{
    flex-wrap: wrap;
    width: 40px;
    height: 40px;
    background: blue;
    border: 1px solid #7AA7C7;
    border-radius: 3px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #798A9F;
    margin-top: 5px;
    margin-left: 15px;
    justify-content: center;
}
.secret{
    width: 400px;
    height: 68px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 68px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}
.sopa{
    height: 120px;
    width: 90%;
    display: flex;
    flex-wrap:wrap;
    margin-left: auto;
    margin-right: auto; 
}
.palavra_and_botão{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 20px;
    height: 90%;


}
.jogo{
    height: 467px;
    width: 1000px;
    display: flex;
    justify-content: space-between;
}